# =========================
# Symfony
# =========================
/var/
/vendor/

# =========================
# Frontend
# =========================
/node_modules/
/frontend/node_modules/
/frontend/dist/
/public/build/

# =========================
# Environment
# =========================
.env.local
.env.*.local

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
*.tar
*.tar.gz
*.tar.xz
# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Git
# =========================
.git/

/docker-images/
/exports/
